<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="style/style.css" rel="stylesheet">
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
    <form method="post" action="{{ actionScript }}">
        {% for item in 1..itemCount %}
        <label>
            {{ itemName }}{{ item }}: <input type="text" size="50" name="{{ itemValue }}{{ item }}">
        </label>
        <br>
        {% endfor %}
        <input type="hidden" name="count" value="{{ itemCount }}">
        <input type="submit" value="Відправити">
    </form>
</body>
</html>